# Pandas统计计算和描述

In [1]:
import numpy as np
import pandas as pd

* 常用的统计计算

In [2]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
df_obj

          a         b         c         d
0  0.715594  0.123322 -0.628493 -0.103682
1  0.783228  0.140333 -0.211933 -1.403887
2 -0.713423 -1.483364  0.276417 -0.664303
3  1.580704 -0.053138  0.562683 -0.424985
4  2.046556 -1.600219  0.021936  0.320219

In [3]:
df_obj.sum()

a    4.412658
b   -2.873065
c    0.020610
d   -2.276637
dtype: float64

In [4]:
df_obj.max()

a    2.046556
b    0.140333
c    0.562683
d    0.320219
dtype: float64

In [5]:
df_obj.min(axis=1)

0   -0.628493
1   -1.403887
2   -1.483364
3   -0.424985
4   -1.600219
dtype: float64

* 统计描述

In [6]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean   0.882532 -0.574613  0.004122 -0.455327
std    1.052045  0.887115  0.456436  0.646042
min   -0.713423 -1.600219 -0.628493 -1.403887
25%    0.715594 -1.483364 -0.211933 -0.664303
50%    0.783228 -0.053138  0.021936 -0.424985
75%    1.580704  0.123322  0.276417 -0.103682
max    2.046556  0.140333  0.562683  0.320219